/* UsersComponent's private CSS styles */
.search input {
    margin: 1rem 0;
  }
  
  .users {
    list-style-type: none;
    padding: 0;
  }
  
  .users li {
    display: grid;
    grid-template-columns: min-content max-content 1fr max-content max-content;
    grid-template-areas: "badge name . edit delete";
    margin: 1rem 0;
    align-items: center;
    background-color: #eee;
    border-radius: 4px;
  }
  
  .users li .badge {
    grid-area: badge;
  }
  
  .users li .name {
    grid-area: name;
  }
  
  .users li button {
    margin: 0.3rem;
    padding: 0.3rem 0.8rem;
  }
  
  .users li button.edit {
    grid-area: edit;
  }
  
  .users li button.delete {
    grid-area: delete;
  }
  
  .users li button:hover, .users li button:focus {
    color: #eee;
    background-color: #000;
  }
  
  .users .badge {
    padding: 0.5rem 0.6rem;
    color: white;
    background-color: #435B60;
    margin-right: 0.8rem;
    border-radius: 4px 0 0 4px;
    align-self: stretch;
    display: flex;
    align-items: center;
  }
  
  .users input {
    max-width: 12rem;
    padding: .25rem;
  }
  
  @media (max-width: 550px) {
    .users li {
      grid-template-columns: min-content 1fr 1fr;
      grid-template-rows: 2rem max-content;
      grid-template-areas:
        "badge name name"
        "badge edit delete";
    }
  
    .users li .name {
      margin-top: 0.3rem;
    }
  
    .users li button {
      justify-self: center;
    }
  }
  
  /*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  */