<div class="ion-page" id="chat-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{loadChat()}}</ion-title>
    </ion-toolbar>
      <ion-toolbar>
          <ion-buttons slot="start">
              <ion-button [routerLink]="['/Chat']" [queryParams]="{ direction: 'forward' }">
                  <ion-icon name="chevron-back-outline" size="large"></ion-icon>
              </ion-button>
              <ion-title>
                  {{GroupName}}
              </ion-title>
          </ion-buttons>
        <ion-buttons>
          <ion-searchbar color="light"></ion-searchbar>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-menu-button>
            <ion-button>
              <ion-icon name="settings-outline" size="large"></ion-icon>
            </ion-button>
          </ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item *ngFor="let message of messages">
          <ion-avatar slot="start">
            <img src = {{message.userPic}} />
          </ion-avatar>
          <ion-label>
            {{message.text}}
          </ion-label>
        </ion-item>
      </ion-list>
    
    </ion-content>
  
    <ion-footer>
      <ion-item>
          <ion-input [(ngModel)]="newMessage" placeholder="Type a message"></ion-input>
          <ion-button (click)="sendMessage()">Send</ion-button>
        </ion-item>
    </ion-footer>
</div>
<ion-menu contentId="chat-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the chat content.</ion-content>
</ion-menu>