<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Chat
      </ion-title>

      <ion-buttons slot="end">
        <ion-button>
            <ion-icon name="search"></ion-icon>
        </ion-button>
        <ion-button>
            <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="chatbox-ellipses"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <div class="ion-padding">
        <ion-item>
            <ion-avatar slot="start">
                <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGpRx-LXxtShgx_s9AWDnnkHvYOLdGo6w3vg&usqp=CAU" />
            </ion-avatar>
            <ion-label>
                <h2>Name</h2>
                <p> <ion-icon class="read" name="checkmark-done"></ion-icon> There</p>
            </ion-label>
            <ion-label slot="end" class="ion-text-right">
                <p>03-29-2023</p>
                <p>&nbsp;</p>
            </ion-label>
        </ion-item>
    </div>

</ion-content>
  
  
  