<ion-tabs>

    <ion-tab-bar slot="bottom">

    <ion-tab-button tab="Profile">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Chat">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-label>Chat</ion-label>
    </ion-tab-button>

    </ion-tab-bar>
    
</ion-tabs>