<h3>Get configuration from JSON file</h3>
<div>
  <button type="button" (click)="clear(); showConfig()">get</button>
  <br>
  <button type="button" (click)="clear(); showConfigResponse()">getResponse</button>
  <br>
  <button type="button" (click)="clear()">clear</button>
  <br>
  <button type="button" (click)="clear(); makeError()">error</button>
  <br>
  <span *ngIf="config">
    <p>Users API URL is "{{config.usersUrl}}"</p>
    <p>Textfile URL is "{{config.textfile}}"</p>
    <p>Date is "{{config.date.toDateString()}}" ({{getType(config.date)}})</p>
    <div *ngIf="headers">
      Response headers:
      <ul>
        <li *ngFor="let header of headers">{{header}}</li>
      </ul>
    </div>
  </span>
</div>
<p *ngIf="error" class="error">{{error | json}}</p>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->