<app-users></app-users>
<ion-header>
  <ion-toolbar>
    <ion-title>Your Network</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab slot="fixed" horizontal="end" vertical="bottom" class="ion-padding">
    <ion-fab-button id="open-modal" expand="block">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>New Connection</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="text" placeholder="thelordwithus@emanuel.cross" [(ngModel)]="destinationEmail"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  <app-graph></app-graph>
</ion-content>
