<div class="panZoomDiv">
  <div class="panZoomControls">
    <ion-buttons>
      <ion-button (click)="zoomIn()">
        <ion-icon slot="icon-only" name="add-circle-outline" size="large"></ion-icon>
      </ion-button>
      <ion-button (click)="zoomOut()" >
        <ion-icon slot="icon-only" name="remove-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
  <pan-zoom [config]="panZoomConfig">
    <div id="chart-nwk" class="chart"></div>
  </pan-zoom>
</div>
