#chart-nwk {
  display: flex;
  min-width: 150px;
  width: 100vw;
  height: 100vh;
  margin: 0 0 0 0;
  flex-direction: row;
}

.panZoomDiv {
  width: 100vw;
  height: 100vh;
}

.home-title {
  position: absolute;
  top: 80px;
  left: 45vw;
  z-index: 100;
}