.profile-card {
    max-width: 600px;
    height: 100%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    --ion-background-color: rgba(255, 255, 255, 0.75);
  }
  
  .profile-image-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  ion-item {
    border: none;
    padding-left: 0;
    --ion-background-color: rgba(255, 255, 255, 0);
  }
  
  ion-icon {
    color: #007bff;
    margin-right: 8px;
  }
// Glow Effects
.glow-effect{
  position: relative;
  height: 70vh;
}

.glow-container{
  pointer-events: none;
  position: absolute;
  inset: -50px;
  width: calc(100% + 100px);
  height: calc(100% + 100px);
  max-width: 700px;
  margin: auto;
  // outline: 3px solid blue;
}

.glow-blur,
.glow-line{
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  x: 50px;
  y: 50px;
  rx: 10px;
  fill:transparent;
  stroke: black;
  stroke-width: 5px;
  stroke-dasharray: 20px 30px;
  transition: stroke-dashoffset 2000ms;
}

.glow-effect:hover .glow-blur,
.glow-effect:hover .glow-line{
  stroke-dashoffset: -65px;
}

.glow-line{
  stroke: white;
  stroke-width: 2px;
}

.glow-blur{
  stroke: white;
  stroke-width: 10px;
  filter: blur(10px);
}
